@import '../../App.scss';

.project-item {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 40px;
    color: $primary-color;
    background-color: $dark-color;

    .project-infos {
        @include flex-dir(row);
        @include position-el(space-between, flex-start);

        .infos-1 {
            .project-name {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 200;
                color: $light-color;
            }

            .project-links {
                .rounded-link {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
            }
        }

        .infos-2 {
            text-align: right;
            text-transform: uppercase;
        }
    }

    .project-name {
        color: $light-color;
    }
}