@import '../../App.scss';

header {
    @include flex-dir(row);
    @include position-el(flex-end, center);

    margin: auto;
    height: 100px;
    max-width: 1440px;
    
    .navbar {
        margin-right: 20px;

        .navbar__link {
            padding: 5px 40px;
            text-align: center;
            text-decoration: none;
            border-radius: 10px 0 10px 0;

            &.active {
                color: $primary-color;
                background-color: $dark-color;
            }

            &:hover {
                box-shadow: 2px 2px 5px $dark-color;
            }
        }
    }
}
