$primary-color: #FFE600;
$light-color: white;
$dark-color: black;

$main-font: 'Inter', sans-serif;

// Layouts elements
@mixin flex-dir($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin position-el($axe1, $axe2) {
    justify-content: $axe1;
    align-items: $axe2;
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: $main-font;
}

body {
    max-width: 1440px;
    background-color: $primary-color;
}

main {
    @include flex-dir(column);
    @include position-el(center, center);
    gap: 70px;
    margin: 100px;
}